@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.bkd {
  background-color: #e2e2e2;
}

.logo {
  text-align: center;
}

.nav li {
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #0074d9;
  display: inline-block;
}

.nav .current {
  background-color: #0074d9;
  color: #fff;
}

a:hover {
  background: #0074d9;
  color: #fff;
}

nav {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .logo {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
